<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>htmx alpine.js tutorial</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.5/htmx.min.js"
    integrity="sha512-z+TnQ5cwS89AYwlM3KTvxM9Xlt6QwXzfHchd+EKzRg4DMNCZgbBULjDeeCo+LKHrJZlFUFKaXyD1gmfjXVrwyg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold my-4">Profile</h1>
    <div class="space-x-2 mb-4">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" hx-get="profile.html"
        hx-swap="outerHTML">outerHTML</button>
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" hx-get="profile.html"
        hx-target="#response" hx-trigger="mouseover">mouse over</button>
    </div>
    <div id="response" class="p-4 border rounded">サンプル</div>
  </div>
</body>
</html>
